html,
body {
  height: 100%;
  min-height: 100%;
  position: relative;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: $body-font-family;
}

ul {
  list-style: none;
}

p {
  color: $gray;
  line-height: $text-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin: 0;
  padding: 0;
  color: $dark-gray;
  font-weight: normal;
}

h1 {
  font-size: $heading-font-size;
  font-weight: 300;
}

h2 {
  font-size: $medium-font-size;
}

h3,
h4 {
  font-size: $medium-font-size;
}

h5,
h6 {
  font-size: $base-font-size;
}

.link-text {
  color: $dark-gray;
  text-decoration: underline;

  &:hover, &:active, &:focus {
    color: $green;
    text-decoration: none;
  }
}

.link-button {
  color: white;
  background-color: $orange;
  font-size: $small-font-size;
  padding: $micro-spacing $small-spacing;
  text-decoration: none;
  border-radius: 2px;
  border: 0px;

  &:hover, &:active, &:focus {
    color: white;
    background-color: $light-orange;
  }
}

.text-center {
  text-align: center;
}

.base-box-shadow {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
}