.contact-form {
  width: 600px;
  min-width: 320px;
  margin: $large-spacing auto 0;

  &__item {
    margin-bottom: $small-spacing;
  }
  &__input {
    width: 100%;
    padding: $micro-spacing;
    border-radius: rem(6px);
    border: 1px solid $light-gray;
  }
  &__button {
    @extend .link-button;
  }
}