.footer {
  background-color: $header-bg-color;
  padding: $base-spacing 0;
  
  .wrapper { 
    @include outer-container;
  }

  .brand-footer {
    @include span-columns(2);

    .footer-logo {
      max-width: 100%;
      text-align: center; 
    }
  }

  .footer-nav {
    text-align: center;
    @include span-columns(6);

    .nav-item {
      padding: $micro-spacing;
    }
  }
  
  .social {
    text-align: center;
    margin-top: $micro-spacing;
    @include span-columns(2);

    &-link {
      color: white;
      text-decoration: none;
      padding: $micro-spacing;
      font-size: $base-font-size;

      @include media($tablet) {
        font-size: $base-font-size;       
      }
    }

    @include media($tablet) {
      width: 100%;
      margin: 0px;
    }
  }

  .brand-footer, .footer-nav {
    @include media($tablet) {
      display: none;
    }
  }
}
