.header {
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 9999;
  background-color: transparent;
  @include transition(all 0.2s ease-out);

  &--intro {
    .nav-link {
      &, &:hover, &:active, &:focus {
        color: $dark-gray;
      }
    }
  }

  &[data-spy="affix"] {
    overflow: hidden;
    height: 0px;
  }

  .nav-item-logo {
    display: none;
  }

  &.affix {
    position: absolute;
    background-color: $header-bg-color;
    position: fixed;
    top: 0px;
    height: 60px;
    @include transition(all 0.2s ease-out);

    .nav-item-logo {
      display: block;
    }

    &-top {
      background-color: $header-bg-color;
      position: fixed;
      top: -100px;
      @include transition(all 0.2s ease-out);

      .nav-item-logo {
        display: block;
      }
    }
  }
}

.inner-header {
  padding-top: $large-spacing;
}