.customer {
  background-color: $light-gray-bg;
  padding: $micro-spacing 0;

  &__list {
    width: 100%;
    margin-top: $large-spacing;
    margin-bottom: 0px;
    padding: 0;

    @include media($tablet) {
      text-align: center;
    }
  }
  
  &__item {
    display: inline-block;
    width: rem(130px);
    height: auto;
    padding: rem(6px);

    @include media($tablet) {
      display: block;
      width: 100%;
      text-align: center;

      img {
        max-width: 180px;
      }
    }
  }

  &__logo {
    width: 100%;
    height: auto;
  }
}