.section {
  @include outer-container;
  margin: $large-spacing auto;
  padding: 0 $container-inner-spacing;

  &-title {
    text-align: center;
    margin-bottom: $base-spacing;
    font-size: $heading-font-size;
    font-weight: 300;
  }
}

.wrapper {
  &-inner {
    min-height: 65%;
  }
}

.section-gray {
  background-color: $light-gray-bg;
  padding: 0;
  margin: 0;
  padding-top: $xlarge-spacing;
  margin-bottom: $xlarge-spacing;

  @include media($tablet) { 
    padding-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
  @include media($mobile) { 
    padding-top: $base-spacing;
    margin-bottom: $base-spacing;
  }
}

.section-end {
  margin-bottom: 0;
}