.section {
  @include outer-container;
  margin: $large-spacing auto;
  padding: 0 $container-inner-spacing;

  &-title {
    text-align: center;
    margin-bottom: $base-spacing;
  }
}

.wrapper {
  &-inner {
    min-height: 65%;
  }
}

.section-gray {
  background-color: $bg-gray;
  padding: $base-spacing 0; 
}