.owl-projects {
  margin-top: $large-spacing;

  .item {
    @include outer-container;
    padding: 0 $large-spacing;

    @include media($tablet) {
      padding: 0 $base-spacing;
    }

    &-imagem {
      @include span-columns(6);
      
      @include media($tablet) {
        width: 100%;
      }
    }

    &-text {
      margin: 0 auto;
      @include span-columns(4);

      @include media($tablet) {
        width: 100%;
        padding: 0 $base-spacing;
      }

      @include media($mobile) {
        padding: 0 $micro-spacing;
      }
    }
      
    img{
      margin: 10px auto;
      display: block;
      height: auto;
      max-width: 100%;
      border: 1px solid $light-gray;
    }
  }

  .owl-controls {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 50%;

    .owl-prev, .owl-next {
      position: absolute;
      bottom: 0px;
      display: inline-block;
      text-indent: -9999px;
      color: $light-gray;
      background-color: transparent;
      padding: $small-spacing;

      &:before {
        position: absolute;
        top: 8%;
        left: 0px;
        width: 100%;
        text-align: center;
        text-indent: initial;
        @extend .fa;
        font-size: $large-font-size;
      }
    }

    .owl-prev {
      left: -$small-spacing;

      &:before {content: "\f104";}
    }
    
    .owl-next {
      right: -$small-spacing;

      &:before {content: "\f105";}
    }
  }
}