//Colors
$gray: #7f7f7f;
$dark-gray: #3f3f3f;
$light-gray: #eeeeee;
$ligther-gray: #f8f8f8;
$green: #99cc29;
$orange: #e29a1b;
$light-orange: lighten($orange, 10%);;
$dark-green: darken($green, 15%);
$light-gray-bg: $ligther-gray;
$dark-gray-bg: $dark-gray;

$header-bg-color: $dark-gray-bg;
$nav-link-color-top: $dark-gray-bg;
$nav-link-color-top-hover: $green;
$nav-link-color: $light-gray;
$active-nav-link-color: #fff;

//Spacing
$xlarge-spacing: rem(80px);
$large-spacing: rem(48px);
$base-spacing: rem(24px);
$small-spacing: rem(16px);
$micro-spacing: rem(8px);
$container-inner-spacing: $small-spacing;

//Sizing
$header-logo-size: rem(70px);

//Typography
$body-font-family: $font-open-sans, sans-serif;
$heading-font-family: $font-lato, sans-serif;
$nav-font-family: $font-lato, sans-serif;

$base-font-size: rem(16px);
$large-font-size: rem(48px);
$medium-font-size: rem(22px);
$small-font-size: rem(12px);
$micro-font-size: rem(8px);

$weight-light: 300;
$weight-regular: 400;
$weight-bold: 700;

$nav-font-size: $base-font-size;
$heading-font-size: rem(40px);
$subheading-font-size: rem(36px);
$heading-font-size: rem(40px);
$heading-weight: $weight-light;

$text-line-height: ($base-font-size + rem(10px));
