<footer class="footer">
  <section class="wrapper">

    <div class="brand-footer">
      <%= image_tag "logo-invertido.svg", class: "footer-logo" %>
    </div>

    <nav class="nav footer-nav nav-center">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">trabalhos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#team">equipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">contato</a>
        </li>
      </ul>
    </nav>

    <div class="social">
      <a class="social-link" href="https://facebook.com/TeamEcoStage/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="social-link" href="https://github.com/ecostage/" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="social-link" href="https://twitter.com/TeamEcoStage/" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

  </section>
</footer>