<footer class="footer">
  <section class="wrapper">

    <div class="brand-footer">
      <%= image_tag "logo-invertido.svg", class: "footer-logo", alt: "EcoStage" %>
    </div>

    <nav class="nav footer-nav nav-center">
      <%= partial 'partials/nav'%>
    </nav>

    <div class="social">
      <a class="social-link" href="https://facebook.com/TeamEcoStage/" target="_blank">
        <i class="fa fa-facebook"></i>
      </a>
      <a class="social-link" href="https://github.com/ecostage/" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="social-link" href="https://twitter.com/TeamEcoStage/" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

  </section>
</footer>