    <footer class="footer">

      <div class="brand-footer">
        <%= image_tag "ecostage-negative.svg", class: "footer-logo" %>
      </div>

      <nav class="nav footer-nav nav-center">
        <ul class="nav-list">
          <li class="nav-item nav-item-left">
            <a class="nav-link" href="#about">sobre</a>
          </li>
          <li class="nav-item nav-item-left">
            <a class="nav-link" href="#work">trabalhos</a>
          </li>
          <li class="nav-item nav-item-logo">
            <a href="/" class="nav-link header-logo">
              <%= image_tag "tree-logo.svg", class: "logo" %>
            </a>
          </li>
          <li class="nav-item nav-item-right">
            <a class="nav-link" href="#team">equipe</a>
          </li>
          <li class="nav-item nav-item-right">
            <a class="nav-link" href="#contact">contato</a>
          </li>
        </ul>
      </nav>

      <div class="social">
        <ul class="social-list nav-right">
          <li class="social-item">
            <a class="social-link" href="#" target="_blank">Facebook</a>
          </li>
          <li class="social-item">
            <a class="social-link" href="#" target="_blank">GitHub</a>
          </li>
          <li class="social-item">
            <a class="social-link" href="#" target="_blank">Twitter</a>
          </li>
        </ul>
      </div>

    </footer>