<header
  <% if current_page.data.inner? %>
    class="header affix"
  <% else %>
    class="header" data-spy="affix" data-offset-top="10"
  <% end %>
>
  
  <nav class="nav header-nav">
    <ul class="nav-list">
      <li class="nav-item nav-item-left">
        <a class="nav-link" href="about.html">sobre</a>
      </li>
      <li class="nav-item nav-item-left">
        <a class="nav-link" href="work.html">projetos</a>
      </li>
      <!--<li class="nav-item nav-item-logo">
        <a href="/" class="nav-link header-logo">
          <%= image_tag "tree-logo.svg", class: "nav-logo" %>
        </a>
      </li>-->
      <li class="nav-item nav-item-logo">
        <a href="/" class="nav-link header-logo">
          <%= image_tag "tree-logo.svg", class: "nav-logo" %>
        </a>
      </li>
      <li class="nav-item nav-item-right">
        <a class="nav-link" href="contact.html">contato</a>
      </li>
      <li class="nav-item nav-item-right">
        <a class="nav-link" href="team.html">equipe</a>
      </li>
    </ul>
  </nav>

</header>
<% if current_page.data.inner? %>
  <div class="inner-header"></div>
<% end %>