<header class="header">
  <nav class="nav header-nav">
    <%= partial 'partials/nav'%>
  </nav>
</header>

<header
  <% if current_page.data.inner? %>
    class="header affix"
  <% else %>
    class="header" data-spy="affix" data-offset-top="400"
  <% end %>
>
  
  <nav class="nav header-nav">
    <%= partial 'partials/nav'%>
  </nav>

</header>
<% if current_page.data.inner? %>
  <div class="inner-header"></div>
<% end %>