<header class="header" data-spy="affix" data-offset-top="60">
  
  <nav class="nav header-nav">
    <ul class="nav-list">
      <li class="nav-item nav-item-left">
        <a class="nav-link" href="#about">sobre</a>
      </li>
      <li class="nav-item nav-item-left">
        <a class="nav-link" href="#work">trabalhos</a>
      </li>
      <li class="nav-item nav-item-logo">
        <a href="/" class="nav-link header-logo">
          <%= image_tag "tree-logo.svg", class: "nav-logo" %>
        </a>
      </li>
      <li class="nav-item nav-item-right">
        <a class="nav-link" href="#contact">contato</a>
      </li>
      <li class="nav-item nav-item-right">
        <a class="nav-link" href="#team">equipe</a>
      </li>
    </ul>
  </nav>

</header>