    <section calss="home-intro">
      <div class="logo-intro">
        <%= image_tag "tree-logo.svg", class: "nav-logo" %>
      </div>
      <h1 class="intro-text">
        somos uma empresa de tecnologia que desenvolve ferramentas e
        plataformas para projetos que promovem consicencia ambiental
      </h1>  
    </section>