<section class="home-intro">
  <div class="home-intro__section">
    <%= image_tag "logo.svg", class: "home-intro__image home-intro__image-table", alt: "EcoStage" %>
    <%= image_tag "logo-mobile.svg", class: "home-intro__image home-intro__image-mobile", alt: "EcoStage" %>
    <h1 class="home-intro__text">
      <span class="home-intro__text-span">Tecnologia para projetos que atuam nos desafios socioambientais do século XXI</span>
    </h1>
  </div>
</section>