<section class="home-intro">
  <div class="home-intro__section">
    <%= image_tag "logo.svg", class: "home-intro__image" %>
    <div class="home-intro__text">
      somos uma empresa de tecnologia que desenvolve ferramentas e<br>
      plataformas para projetos que promovem consicencia ambiental
    </div>
  </div>
</section>