---
title: EcoStage - About
keywords: Ferramentas, plataformas, sistemas, ruby, rails, cms, css, javascript, js, sass, sustentabilidade, parceiros, mundo, ambiental, social, ecostage, eco, stage, soluções, desafios
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      About Us
    </h1>

    <h2 class="text-center">Applications and platforms made for socio-environmental initiatives.</h2>

    <p>
    Ecostage is a software development company that was created with the purpose of offering research centers, NGOs and organizations innovative technologies to deal with the complex challenges to achieve sustainable development in Brazil.
    </p>

    <p>
    We chose to act in this segment because we believe in the sustainability goals and we are engaged in building with our partners ways for a world that respects the environmental limits and promotes equality and social justice.
    </p>

    <p>
    With over 15 years of experience of our associate partners in software development for web and mobile devices, and with a carefully chosen team, Ecostage has delivered innovative products that offer data and information for qualified debates on this subject.
    </p>

    <p>
    Make part of this revolution with us! Learn about our projects and initiatives.
    </p>

    <p>Learn more about our <a class="link-text" href="/<%= I18n.locale %>/work.html">work</a></p>
  </section>
</div>