---
title: EcoStage - Sobre
keywords: Ferramentas, plataformas, sistemas, ruby, rails, cms, css, javascript, js, sass, sustentabilidade, parceiros, mundo, ambiental, social, ecostage, eco, stage, soluções, desafios
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      Sobre
    </h1>

    <h2 class="text-center">Aplicações e plataformas para iniciativas socioambientais</h2>

    <p>
    A EcoStage é uma empresa de desenvolvimento de software que nasceu com o objetivo de oferecer a centros de pesquisa, organizações  não governamentais e instituições tecnologias inovadoras para lidar com os complexos desafios para alcançar o desenvolvimento sustentável no Brasil.
    </p>

    <p>
    Escolhemos atuar neste segmento porque acreditamos nos objetivos da sustentabilidade e estamos engajados em construir com nossos parceiros caminhos para um mundo que respeite os limites ambientais e promova igualdade e justiça social.
    </p>

    <p>
    Com mais de 15 anos de experiência de nossos sócios nas áreas de desenvolvimento de softwares para internet e dispositivos móveis, e com uma equipe cuidadosamente escolhida, a EcoStage vem entregando produtos inovadores que oferecem dados e informações para debates qualificados sobre a temática.
    </p>

    <p>
    Faça parte desta revolução conosco!
    </p>

    <p>Conheça nossos <a class="link-text" href="/<%= I18n.locale %>/work.html">projetos e iniciativas</a></p>
  </section>
</div>