---
title: EcoStage - Contato
keywords: Orçamento, Plataforma, Sistema, Site, Desenvolvimento, Web, App, Sustentabilidade
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      Contato
    </h1>

    <form action="//formspree.io/contato@ecostage.com.br"
     method="POST">
      <ul class="contact-form">
        <li class="contact-form__item">
          <input class="contact-form__input" type="text" name="name" placeholder="Digite seu nome">
        </li>
        <li class="contact-form__item">
          <input class="contact-form__input" type="email" name="_replyto" placeholder="Digite seu e-mail">
        </li>
        <li class="contact-form__item">
          <textarea class="contact-form__input" name="message" placeholder="Digite sua mensagem" id="" cols="30" rows="10"></textarea>
        </li>
        <li class="contact-form__item">
          <input class="contact-form__button" type="submit" value="Enviar">
        </li>
      </ul>
    </form>

  </section>
</div>