---
title: EcoStage - Sobre
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      Sobre
    </h1>

    <h2 class="text-center">Ferramentas e plataformas para iniciativas socioambientais</h2>

    <p>Atuamos com esse foco porque acreditamos na causa da sustentabilidade e estamos engajados em construir com nossos parceiros caminhos para um mundo que respeite os limites ambientais e promova igualdade e justiça social.</p>
 
    <p>A origem da <strong>EcoStage</strong> vem de outra empresa de tecnologia, a <strong>Tracersoft</strong>, cujo foco de atuação é mais amplo. Hoje, a <strong>EcoStage</strong> vai muito além de atuar em um nicho de mercado. Oferece a centros de pesquisa, organizações não-governamentais e instituições comprometidas com o desenvolvimento sustentável soluções ousadas e parceria à altura desse desafio.</p>
 
    <p>E buscamos manter essa intenção conectada com nosso jeito de fazer as coisas no dia-a-dia da empresa.</p>
 
    <p>Conheça nossos <a class="link-text" href="/work.html">projetos</a> e <a class="link-text" href="/work.html">iniciativas</a>.</p>

  </section>
</div>