---
title: EcoStage - Contato
inner: true
---

<div class="wrapper wrapper-inner">
  <section class="section">

    <h1 class="section-title">
      Contato
    </h1>

    <p>Texto</p>

    <form action="//formspree.io/contato@ecostage.com.br"
     method="POST">
		   <input type="text" name="name">
		   <input type="email" name="_replyto">
		   <input type="submit" value="Send">
		</form>

  </section>
</div>